/* position: static - установленно по умолчанию*/
/* fixed - элемент всплывает* над страницей*/
/* top left right bottom - действуют когда включен fixed */
/* bottom - отступ с низу  */
.test {
  width: 50px;
  height: 25px;
  background: orange;
  /* position: relative; */
  /* position: fixed;
  right: 250px;
  left: 400px; /*приоритетней чем right*/
  /* top: 100px;*/ /*приоритетней чем bottom */
  /* bottom: 250px;  */
}
/* p {
  height: 1000px;
  background: lime;
} */
