/* position: static - установленно по умолчанию*/
/* fixed - элемент всплывает* над страницей. Работает относительно окна */
/* top left right bottom - действуют когда включен fixed */
/* bottom - отступ с низу  */
/* relative */
/* absolute Работает относительно первого встреченного родителя у которого применено свойство position: absolute или fixed если не встречен то работает как fixed*/
.test {
  width: 50px;
  height: 25px;
  background: #ffa500;
  /* position: absolute; */
  /*position: relative;*/ /*с помощью этого можно двигать объект с помощью left; right и т.д.*/
  /* position: fixed;
  right: 250px;
  left: 400px; /*приоритетней чем right*/
  /* top: 100px;*/ /*приоритетней чем bottom */
  /* bottom: 250px;  */
  /* bottom: 40px;
  left: 50px; */
}
/* p {
  height: 1000px;
  background: lime;
} */
input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.rect {
  width: 150px;
  height: 150px;
  margin: 50px;
  border: 1px solid black;
  position: relative;
}
.sq {
  width: 50px;
  height: 50px;
  background: lime;
}
.p1 {
  position: absolute;
  left: 0;
  bottom: 0;
  /* right: 0;
  top: 0; */
}
.p2 {
  position: absolute;
  top: 70px;
  right: 70px;
  background: orange;
}
