/* position: static - установленно по умолчанию*/
/* fixed - элемент всплывает* над страницей*/
/* top left right bottom - действуют когда включен fixed */
/* bottom - отступ с низу  */
.test {
  width: 50px;
  height: 50px;
  background: orange;
  position: relative;
  /* position: fixed;
  right: 200px;
  bottom: 100px;
  top: 100px; */
  bottom: 40px;
}
/* p {
  height: 1000px;
  background: lime;
} */
