* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background: #f6f8f9;
  font-family: Arial, Tahoma, sans-serif;
  color: #44525e;
}

p {
  margin: 0px;
}

h3 {
  margin: 20px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

h3 span {
  color: #ff7013;
}

.section-description {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 10px auto;
}

.row {
  margin: 0 -1.25%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

/* ---------------------------footer */

.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4 {
  font-size: 16px;
  color: #ff5912;
}

.site-footer {
  background: #fff;
  padding: 60px 0 44px 0;
  font-size: 14px;
  color: #28313b;
}

.block-770 {
  width: 64.16%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-370 {
  width: 30.83333%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-170 {
  width: 14.166%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.red {
  background: red;
}
.copyright {
  margin-top: 20px;
}

ul.footer-nav a {
  color: #28313b;
  text-decoration: none;
}

ul.footer-nav a:hover {
  color: #ff5912;
}

ul.footer-nav .active {
  color: #ff5912;
}

ul.footer-nav li {
  margin-bottom: 15px;
}

.payment-img {
  width: 25px;
  height: 17px;
  background-image: url("../image/payment_bg.png");
  background-color: red;
  display: inline-block;
}

.amex {
  background-position: -1px -1px;
}

.second {
  background-position: -36px -1px;
}

.visa {
  background-position: -71px -1px;
}

.mastercard {
  background-position: -107px -1px;
}

.gray {
  background-position: -144px -1px;
}

/* ------------------------header---------------------------- */
.site-header {
  min-height: 180px;
  background: #fff;
}

.site-header a {
  color: #34404b;
  text-decoration: none;
}

.header-line {
  min-height: 60px;
  border-bottom: 1px solid #edeff1;
}

.main-logo {
  margin-top: 30px;
}

.main-logo ul::after {
  content: "";
  display: block;
  clear: both;
}

.main-nav li {
  /* background: red; */
  float: left;
  list-style: none;
  margin: 22px 15px;
}

.main-nav .active a {
  color: #ff5912;
}
