* {
  box-sizing: border-box;
}

form {
  border: 1px solid #333;
}

form div {
  width: 400px;
  margin: 20px auto;
}

form div::after {
  clear: both;
  content: "";
  display: block;
}

form div label {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: right;
  padding-right: 20px;
}

form div input {
  width: 50%;
  float: left;
}
