*{
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  box-sizing: border-box;
  background: #f6f8f9;
  font-family: Arial, Tahoma, sans-serif;
  color: #44525e;
}

p {
  margin: 0px;
}

h3 {
  margin: 20px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

h3 span {
  color: #ff7013;
}

.section-description {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 10px auto;
}

.block-avd{
  width: 50%;
  min-height: 100px;
  background: #fff;
  border: 1px solid #eaedef;
}